/*
Syntax error: Invalid CSS after "@import ": expected uri, was "url(http://font..."
        on line 1 of /Users/josh/dev/octopress/sass/custom/_fonts.scss
        from line 6 of /Users/josh/dev/octopress/sass/screen.scss

1: /Users/josh/dev/octopress/sass/screen.scss

Backtrace:
/Users/josh/dev/octopress/sass/custom/_fonts.scss:1
/Users/josh/dev/octopress/sass/screen.scss:6
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:1010:in `expected'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:956:in `expected'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:951:in `tok!'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:286:in `import_arg'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:937:in `expr!'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:278:in `block in import_directive'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:277:in `loop'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:277:in `import_directive'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:153:in `special_directive'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:126:in `directive'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:480:in `block_child'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:470:in `block_contents'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:58:in `stylesheet'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/scss/parser.rb:27:in `parse'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/engine.rb:327:in `_to_tree'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/engine.rb:259:in `to_tree'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `load'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `<main>'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/bin/ruby_noexec_wrapper:14:in `eval'
/Users/josh/.rvm/gems/ruby-1.9.3-p286/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@import \": expected uri, was \"url(http://font...\"\A         on line 1 of /Users/josh/dev/octopress/sass/custom/_fonts.scss\A         from line 6 of /Users/josh/dev/octopress/sass/screen.scss\A \A 1: /Users/josh/dev/octopress/sass/screen.scss"; }
